### Loading the Libraries

In [1]:
import os
from dotenv import load_dotenv, find_dotenv

In [2]:
import tweepy
import webbrowser
import time

In [18]:
import pandas as pd

#### Loading the environment variables

In [3]:
folder_path = os.path.expanduser('../data/')  
load_dotenv(os.path.join(folder_path, '.env'))

True

### Global Variables

In [4]:
consumer_key = os.environ.get("TWITTER_API_KEY")
consumer_secret = os.environ.get("TWITTER_API_SECRET")

In [5]:
callback_URL = "oob"

In [112]:
KAJAL = "MsKajalAggarwal"
RAASHI = "RaashiKhanna"
RAKUL = "Rakulpreet"
ASHLIN = "vp_ashlin07" 
MONKE = "MonkEtweets"
SUNNY = "SunnyLeone"

### Functions

In [59]:
## --- Create a pandas dataframe using twitter timeline
def extract_timeline_as_df(timeline_list):
    columns = set()
    allowed_types = [str, int]
    tweets_data = []

    for status in my_timeline:
        status_dict = dict(vars(status))
        keys = status_dict.keys()
        single_tweet_data = {"user_name": status.user.screen_name}
        for key in keys:
            if type(status_dict[key]) in allowed_types:
                single_tweet_data[key] = status_dict[key]
                columns.add(key)
        tweets_data.append(single_tweet_data)
        
    headers = list(columns)
    headers.append("user_name")
    
    return pd.DataFrame(tweets_data, columns=headers)

In [141]:
def process_page(page_results):
    for i , user in enumerate(page_results):
        print(i, user.screen_name)

In [ ]:
def limit_handler(cursor):
    while True:
        try:
            yeild cursor.next()
        except tweepy.RateLimitError:
            time.sleep(15 * 60)

### Authorization

In [6]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret, callback_URL)

In [7]:
redirect_URL =auth.get_authorization_url()

In [ ]:
# print(redirect_URL)

In [8]:
webbrowser.open(redirect_URL)

True

In [9]:
PIN = input("Enter the PIN :")

Enter the PIN :7918917

In [10]:
access_token, access_secret = auth.get_access_token(PIN)

In [26]:
# print(access_token)
# print(access_secret)

### Getting Personal data

In [11]:
api = tweepy.API(auth)

In [12]:
me = api.me()

In [13]:
print(me.screen_name)

821Suhruth

In [14]:
print(api.me().screen_name)

821Suhruth

## Status Or Tweets

In [52]:
new_status = api.update_status("OMG! I tweeted this using #python, just playing with the #tweepy...")

In [53]:
new_status.destroy()

Status(_api=<tweepy.api.API object at 0x0000026A53F6F2E0>, _json={'created_at': 'Sun Nov 29 05:30:19 +0000 2020', 'id': 1332919800838770692, 'id_str': '1332919800838770692', 'text': 'OMG! I tweeted this using #python, just playing with the #tweepy...', 'truncated': False, 'entities': {'hashtags': [{'text': 'python', 'indices': [26, 33]}, {'text': 'tweepy', 'indices': [57, 64]}], 'symbols': [], 'user_mentions': [], 'urls': []}, 'source': '', 'in_reply_to_status_id': None, 'in_reply_to_status_id_str': None, 'in_reply_to_user_id': None, 'in_reply_to_user_id_str': None, 'in_reply_to_screen_name': None, 'user': {'id': 1053660413592621061, 'id_str': '1053660413592621061', 'name': '@Suhruth_Yambakam', 'screen_name': '821Suhruth', 'location': 'Nellore, India', 'description': "I may not gone the way I intended, but I'm where I needed to be", 'url': None, 'entities': {'description': {'urls': []}}, 'protected': False, 'followers_count': 16, 'friends_count': 156, 'listed_count': 1, 'created_at': 'Sat Oct 20 14:53:13 +0000 2018', 'favourites_count': 439, 'utc_offset': None, 'time_zone': None, 'geo_enabled': False, 'verified': False, 'statuses_count': 2454, 'lang': None, 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': False, 'profile_background_color': 'F5F8FA', 'profile_background_image_url': None, 'profile_background_image_url_https': None, 'profile_background_tile': False, 'profile_image_url': 'http://pbs.twimg.com/profile_images/1053661079677526021/jLIKn4Bf_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1053661079677526021/jLIKn4Bf_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/1053660413592621061/1540047365', 'profile_link_color': '1DA1F2', 'profile_sidebar_border_color': 'C0DEED', 'profile_sidebar_fill_color': 'DDEEF6', 'profile_text_color': '333333', 'profile_use_background_image': True, 'has_extended_profile': True, 'default_profile': True, 'default_profile_image': False, 'following': False, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'none'}, 'geo': None, 'coordinates': None, 'place': None, 'contributors': None, 'is_quote_status': False, 'retweet_count': 0, 'favorite_count': 0, 'favorited': False, 'retweeted': False, 'lang': 'en'}, created_at=datetime.datetime(2020, 11, 29, 5, 30, 19), id=1332919800838770692, id_str='1332919800838770692', text='OMG! I tweeted this using #python, just playing with the #tweepy...', truncated=False, entities={'hashtags': [{'text': 'python', 'indices': [26, 33]}, {'text': 'tweepy', 'indices': [57, 64]}], 'symbols': [], 'user_mentions': [], 'urls': []}, source='', source_url=None, in_reply_to_status_id=None, in_reply_to_status_id_str=None, in_reply_to_user_id=None, in_reply_to_user_id_str=None, in_reply_to_screen_name=None, author=User(_api=<tweepy.api.API object at 0x0000026A53F6F2E0>, _json={'id': 1053660413592621061, 'id_str': '1053660413592621061', 'name': '@Suhruth_Yambakam', 'screen_name': '821Suhruth', 'location': 'Nellore, India', 'description': "I may not gone the way I intended, but I'm where I needed to be", 'url': None, 'entities': {'description': {'urls': []}}, 'protected': False, 'followers_count': 16, 'friends_count': 156, 'listed_count': 1, 'created_at': 'Sat Oct 20 14:53:13 +0000 2018', 'favourites_count': 439, 'utc_offset': None, 'time_zone': None, 'geo_enabled': False, 'verified': False, 'statuses_count': 2454, 'lang': None, 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': False, 'profile_background_color': 'F5F8FA', 'profile_background_image_url': None, 'profile_background_image_url_https': None, 'profile_background_tile': False, 'profile_image_url': 'http://pbs.twimg.com/profile_images/1053661079677526021/jLIKn4Bf_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1053661079677526021/jLIKn4Bf_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/1053660413592621061/1540047365', 'profile_link_color': '1DA1F2', 'profile_sidebar_border_color': 'C0DEED', 'profile_sidebar_fill_color': 'DDEEF6', 'profile_text_color': '333333', 'profile_use_background_image': True, 'has_extended_profile': True, 'default_profile': True, 'default_profile_image': False, 'following': False, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'none'}, id=1053660413592621061, id_str='1053660413592621061', name='@Suhruth_Yambakam', screen_name='821Suhruth', location='Nellore, India', description="I may not gone the way I intended, but I'm where I needed to be", url=None, entities={'description': {'urls': []}}, protected=False, followers_count=16, friends_count=156, listed_count=1, created_at=datetime.datetime(2018, 10, 20, 14, 53, 13), favourites_count=439, utc_offset=None, time_zone=None, geo_enabled=False, verified=False, statuses_count=2454, lang=None, contributors_enabled=False, is_translator=False, is_translation_enabled=False, profile_background_color='F5F8FA', profile_background_image_url=None, profile_background_image_url_https=None, profile_background_tile=False, profile_image_url='http://pbs.twimg.com/profile_images/1053661079677526021/jLIKn4Bf_normal.jpg', profile_image_url_https='https://pbs.twimg.com/profile_images/1053661079677526021/jLIKn4Bf_normal.jpg', profile_banner_url='https://pbs.twimg.com/profile_banners/1053660413592621061/1540047365', profile_link_color='1DA1F2', profile_sidebar_border_color='C0DEED', profile_sidebar_fill_color='DDEEF6', profile_text_color='333333', profile_use_background_image=True, has_extended_profile=True, default_profile=True, default_profile_image=False, following=False, follow_request_sent=False, notifications=False, translator_type='none'), user=User(_api=<tweepy.api.API object at 0x0000026A53F6F2E0>, _json={'id': 1053660413592621061, 'id_str': '1053660413592621061', 'name': '@Suhruth_Yambakam', 'screen_name': '821Suhruth', 'location': 'Nellore, India', 'description': "I may not gone the way I intended, but I'm where I needed to be", 'url': None, 'entities': {'description': {'urls': []}}, 'protected': False, 'followers_count': 16, 'friends_count': 156, 'listed_count': 1, 'created_at': 'Sat Oct 20 14:53:13 +0000 2018', 'favourites_count': 439, 'utc_offset': None, 'time_zone': None, 'geo_enabled': False, 'verified': False, 'statuses_count': 2454, 'lang': None, 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': False, 'profile_background_color': 'F5F8FA', 'profile_background_image_url': None, 'profile_background_image_url_https': None, 'profile_background_tile': False, 'profile_image_url': 'http://pbs.twimg.com/profile_images/1053661079677526021/jLIKn4Bf_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1053661079677526021/jLIKn4Bf_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/1053660413592621061/1540047365', 'profile_link_color': '1DA1F2', 'profile_sidebar_border_color': 'C0DEED', 'profile_sidebar_fill_color': 'DDEEF6', 'profile_text_color': '333333', 'profile_use_background_image': True, 'has_extended_profile': True, 'default_profile': True, 'default_profile_image': False, 'following': False, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'none'}, id=1053660413592621061, id_str='1053660413592621061', name='@Suhruth_Yambakam', screen_name='821Suhruth', location='Nellore, India', description="I may not gone the way I intended, but I'm where I needed to be", url=None, entities={'description': {'urls': []}}, protected=False, followers_count=16, friends_count=156, listed_count=1, created_at=datetime.datetime(2018, 10, 20, 14, 53, 13), favourites_count=439, utc_offset=None, time_zone=None, geo_enabled=False, verified=False, statuses_count=2454, lang=None, contributors_enabled=False, is_translator=False, is_translation_enabled=False, profile_background_color='F5F8FA', profile_background_image_url=None, profile_background_image_url_https=None, profile_background_tile=False, profile_image_url='http://pbs.twimg.com/profile_images/1053661079677526021/jLIKn4Bf_normal.jpg', profile_image_url_https='https://pbs.twimg.com/profile_images/1053661079677526021/jLIKn4Bf_normal.jpg', profile_banner_url='https://pbs.twimg.com/profile_banners/1053660413592621061/1540047365', profile_link_color='1DA1F2', profile_sidebar_border_color='C0DEED', profile_sidebar_fill_color='DDEEF6', profile_text_color='333333', profile_use_background_image=True, has_extended_profile=True, default_profile=True, default_profile_image=False, following=False, follow_request_sent=False, notifications=False, translator_type='none'), geo=None, coordinates=None, place=None, contributors=None, is_quote_status=False, retweet_count=0, favorite_count=0, favorited=False, retweeted=False, lang='en')

In [61]:
img_path = "../data/new_status.PNG"
img_obj = api.media_upload(img_path)

In [62]:
new_status = api.update_status("OMG! I tweeted this using #python, just playing with the #tweepy... ", media_ids = [img_obj.media_id_string])

In [59]:
# new_status.destroy()

### Timeline

In [16]:
my_timeline = api.home_timeline()
# my_timeline

In [17]:
for status in my_timeline:
    print(status.text)
    print("-----\n")

Some defend @realDonaldTrump saying he‚Äôs like a kid ..A 74 year old man with a kids mind is not called a kid..He‚Äôs called a RETARD
-----

More countries looking to dominate in space https://t.co/sEvtILLe8z
-----

Nivar cyclone left the farming community in the lurch! https://t.co/PSUY8DmiYy
-----

75-year-old man shows off coconut-picking skills

Fu Zehe, who once served in the military and now lives in the tro‚Ä¶ https://t.co/mM9tokAoEE
-----

Wow da https://t.co/jSkMQy1G4z
-----

‡∞§‡±Å‡∞™‡∞æ‡∞®‡±Å ‡∞™‡±ç‡∞∞‡∞≠‡∞æ‡∞µ‡∞ø‡∞§ ‡∞™‡±ç‡∞∞‡∞æ‡∞Ç‡∞§‡∞æ‡∞≤‡±ç‡∞≤‡±ã  ‡∞∂‡±ç‡∞∞‡±Ä @PawanKalyan ‡∞ó‡∞æ‡∞∞‡±Å ‡∞°‡∞ø‡∞∏‡±Ü‡∞Ç‡∞¨‡∞∞‡±ç 2‡∞µ ‡∞§‡±á‡∞¶‡±Ä‡∞®  ‡∞™‡∞∞‡±ç‡∞Ø‡∞ü‡∞®. https://t.co/PEHjrjNC6v
-----

'‡§¶‡§ø‡§≤‡•ç‡§≤‡•Ä ‡§ï‡•ç‡§∞‡§æ‡§á‡§Æ' ‡§ï‡•á ‡§è‡§Æ‡•Ä ‡§Ö‡§µ‡•â‡§∞‡•ç‡§° ‡§ú‡•Ä‡§§‡§®‡•á ‡§∏‡•á ‡§≠‡§æ‡§∞‡§§ ‡§ï‡•á ‡§≤‡§ø‡§è ‡§ï‡•ç‡§Ø‡§æ ‡§¨‡§¶‡§≤ ‡§ú‡§æ‡§è‡§ó‡§æ https://t.co/NJ2uC7tm4v
-----

Poverty alleviation official: Contributing to poverty alleviation work is my duty #ZeroPoverty2020 https://t.co/ttdRx9UbDM
-----

https://t.co/CJMErVedon
-----

#FarmersProtest : ‡§∏‡§∞‡§ï‡§æ‡§∞ ‡§∏‡•á ‡§¨‡§æ‡§§ ‡§ï‡•ã ‡§∞‡§æ‡§ú‡§º‡•Ä ‡§π‡•Å‡§è ‡§ï‡§ø‡§∏‡§æ‡§® ‡§≤‡•á‡§ï‡§ø‡§® ‡§ï‡•ã‡§à ‡§∂‡§∞‡•ç‡§§ ‡§∏‡•ç‡§µ‡•Ä‡§ï‡§æ‡§∞ ‡§®‡§π‡•Ä‡§Ç https://t.co/iz4q20bEIH
-----

Karthika Pournami... Lighting 365 Lamps which I do every year üôèüèº
@ Skandagiri Temple https://t.co/bn8DSPolSH
-----

RT @Prabhas__Kohli: Old Edit üí• Loka Nayakuda FT

Hope you Like it üëç

#Prabhas #RadheShyam https://t.co/yNzlQgj575
-----

Four tonnes of potatoes were set to go to waste when a Shanghai community initiated closed management after local c‚Ä¶ https://t.co/CoXw0eH5Vj
-----

‡§ì‡§µ‡•à‡§∏‡•Ä ‡§≤‡§ø‡§∏‡•ç‡§ü ‡§¶‡•á‡§Ç, ‡§∞‡•ã‡§π‡§ø‡§Ç‡§ó‡•ç‡§Ø‡§æ‡§ì‡§Ç ‡§™‡§∞ ‡§Æ‡•à‡§Ç ‡§ï‡§æ‡§∞‡•ç‡§∞‡§µ‡§æ‡§à ‡§ï‡§∞‡§§‡§æ ‡§π‡•Ç‡§Å: ‡§Ö‡§Æ‡§ø‡§§ ‡§∂‡§æ‡§π
https://t.co/CSNGg73lch https://t.co/esVlaWFsEk
-----

#FarmersProtest : ‡§∏‡§∞‡§ï‡§æ‡§∞ ‡§∏‡•á ‡§¨‡§æ‡§§ ‡§ï‡•ã ‡§∞‡§æ‡§ú‡§º‡•Ä ‡§π‡•Å‡§è ‡§ï‡§ø‡§∏‡§æ‡§® ‡§≤‡•á‡§ï‡§ø‡§® ‡§ï‡•ã‡§à ‡§∂‡§∞‡•ç‡§§ ‡§∏‡•ç‡§µ‡•Ä‡§ï‡§æ‡§∞ ‡§®‡§π‡•Ä‡§Ç https://t.co/0qbVXjv9Og
-----

Dave Prowse, actor who played Darth Vader, dies at 85
https://t.co/0fwD4GWPDF
-----

You can hear me and the stories of public service excellence by officers at
#ArunBongirwarFoundation &amp;‚Ä¶ https://t.co/e6pvAGIB3u
-----

#China to expand scope and scale of outbound investment schemes https://t.co/7g3v05Y9Y7
-----

T 3737 -From 26/11 to COVID-19, India fights back: Love trumps hate courage defeats fear.
Tune in tonight
the‚Ä¶ https://t.co/5xLsAYRsfx
-----

Perching on the banks of Lake Pichola, City Palace, Udaipur is an architectural marvel. Enjoy the panoramic  beauty‚Ä¶ https://t.co/FxUkROiF5U
-----

In [44]:
columns = set()
allowed_types = [str, int]
tweets_data = []

for status in my_timeline:
    status_dict = dict(vars(status))
    keys = status_dict.keys()
    single_tweet_data = {
        "user_name": status.user.screen_name,
        "author": status.author.screen_name}
    for key in keys:
        if type(status_dict[key]) in allowed_types:
            single_tweet_data[key] = status_dict[key]
            columns.add(key)
    tweets_data.append(single_tweet_data)
        
headers = list(columns)
headers.append("user_name")
headers.append("author")

In [45]:
# headers
tweets_data

[{'user_name': 'RGVzoomin',
  'author': 'RGVzoomin',
  'id': 1333064441835835393,
  'id_str': '1333064441835835393',
  'text': 'Some defend @realDonaldTrump saying he‚Äôs like a kid ..A 74 year old man with a kids mind is not called a kid..He‚Äôs called a RETARD',
  'source': 'Twitter for iPhone',
  'source_url': 'http://twitter.com/download/iphone',
  'retweet_count': 9,
  'favorite_count': 92,
  'lang': 'en'},
 {'user_name': 'CGTNOfficial',
  'author': 'CGTNOfficial',
  'id': 1333063169942675464,
  'id_str': '1333063169942675464',
  'text': 'More countries looking to dominate in space https://t.co/sEvtILLe8z',
  'source': 'Twitter Media Studio',
  'source_url': 'https://studio.twitter.com',
  'retweet_count': 4,
  'favorite_count': 15,
  'lang': 'en'},
 {'user_name': 'JanaSenaParty',
  'author': 'JanaSenaParty',
  'id': 1333059672002031617,
  'id_str': '1333059672002031617',
  'text': 'Nivar cyclone left the farming community in the lurch! https://t.co/PSUY8DmiYy',
  'source': 'Twitter for Android',
  'source_url': 'http://twitter.com/download/android',
  'retweet_count': 162,
  'favorite_count': 380,
  'lang': 'en'},
 {'user_name': 'CGTNOfficial',
  'author': 'CGTNOfficial',
  'id': 1333058131924979714,
  'id_str': '1333058131924979714',
  'text': '75-year-old man shows off coconut-picking skills\n\nFu Zehe, who once served in the military and now lives in the tro‚Ä¶ https://t.co/mM9tokAoEE',
  'source': 'TweetDeck',
  'source_url': 'https://about.twitter.com/products/tweetdeck',
  'retweet_count': 11,
  'favorite_count': 74,
  'lang': 'en'},
 {'user_name': 'Atlee_dir',
  'author': 'Atlee_dir',
  'id': 1333057829696020481,
  'id_str': '1333057829696020481',
  'text': 'Wow da https://t.co/jSkMQy1G4z',
  'source': 'Twitter for iPhone',
  'source_url': 'http://twitter.com/download/iphone',
  'quoted_status_id': 1333056344023212033,
  'quoted_status_id_str': '1333056344023212033',
  'retweet_count': 102,
  'favorite_count': 1742,
  'lang': 'en'},
 {'user_name': 'JanaSenaParty',
  'author': 'JanaSenaParty',
  'id': 1333057823610048513,
  'id_str': '1333057823610048513',
  'text': '‡∞§‡±Å‡∞™‡∞æ‡∞®‡±Å ‡∞™‡±ç‡∞∞‡∞≠‡∞æ‡∞µ‡∞ø‡∞§ ‡∞™‡±ç‡∞∞‡∞æ‡∞Ç‡∞§‡∞æ‡∞≤‡±ç‡∞≤‡±ã  ‡∞∂‡±ç‡∞∞‡±Ä @PawanKalyan ‡∞ó‡∞æ‡∞∞‡±Å ‡∞°‡∞ø‡∞∏‡±Ü‡∞Ç‡∞¨‡∞∞‡±ç 2‡∞µ ‡∞§‡±á‡∞¶‡±Ä‡∞®  ‡∞™‡∞∞‡±ç‡∞Ø‡∞ü‡∞®. https://t.co/PEHjrjNC6v',
  'source': 'Twitter for Android',
  'source_url': 'http://twitter.com/download/android',
  'retweet_count': 407,
  'favorite_count': 894,
  'lang': 'te'},
 {'user_name': 'BBCHindi',
  'author': 'BBCHindi',
  'id': 1333055944188702726,
  'id_str': '1333055944188702726',
  'text': "'‡§¶‡§ø‡§≤‡•ç‡§≤‡•Ä ‡§ï‡•ç‡§∞‡§æ‡§á‡§Æ' ‡§ï‡•á ‡§è‡§Æ‡•Ä ‡§Ö‡§µ‡•â‡§∞‡•ç‡§° ‡§ú‡•Ä‡§§‡§®‡•á ‡§∏‡•á ‡§≠‡§æ‡§∞‡§§ ‡§ï‡•á ‡§≤‡§ø‡§è ‡§ï‡•ç‡§Ø‡§æ ‡§¨‡§¶‡§≤ ‡§ú‡§æ‡§è‡§ó‡§æ https://t.co/NJ2uC7tm4v",
  'source': 'SocialFlow',
  'source_url': 'http://www.socialflow.com',
  'retweet_count': 4,
  'favorite_count': 112,
  'lang': 'hi'},
 {'user_name': 'CGTNOfficial',
  'author': 'CGTNOfficial',
  'id': 1333053098495971328,
  'id_str': '1333053098495971328',
  'text': 'Poverty alleviation official: Contributing to poverty alleviation work is my duty #ZeroPoverty2020 https://t.co/ttdRx9UbDM',
  'source': 'Twitter Media Studio',
  'source_url': 'https://studio.twitter.com',
  'retweet_count': 7,
  'favorite_count': 23,
  'lang': 'en'},
 {'user_name': 'ajaydevgn',
  'author': 'ajaydevgn',
  'id': 1333052999376072705,
  'id_str': '1333052999376072705',
  'text': 'https://t.co/CJMErVedon',
  'source': 'Twitter for Android',
  'source_url': 'http://twitter.com/download/android',
  'in_reply_to_status_id': 1333042621338451969,
  'in_reply_to_status_id_str': '1333042621338451969',
  'in_reply_to_user_id': 65659343,
  'in_reply_to_user_id_str': '65659343',
  'in_reply_to_screen_name': 'ajaydevgn',
  'retweet_count': 11,
  'favorite_count': 210,
  'lang': 'und'},
 {'user_name': 'BBCHindi',
  'author': 'BBCHindi',
  'id': 1333051924770385921,
  'id_str': '1333051924770385921',
  'text': '#FarmersProtest : ‡§∏‡§∞‡§ï‡§æ‡§∞ ‡§∏‡•á ‡§¨‡§æ‡§§ ‡§ï‡•ã ‡§∞‡§æ‡§ú‡§º‡•Ä ‡§π‡•Å‡§è ‡§ï‡§ø‡§∏‡§æ‡§® ‡§≤‡•á‡§ï‡§ø‡§® ‡§ï‡•ã‡§à ‡§∂‡§∞‡•ç‡§§ ‡§∏‡•ç‡§µ‡•Ä‡§ï‡§æ‡§∞ ‡§®‡§π‡•Ä‡§Ç https://t.co/iz4q20bEIH',
  'source': 'SocialFlow',
  'source_url': 'http://www.socialflow.com',
  'retweet_count': 18,
  'favorite_count': 308,
  'lang': 'hi'},
 {'user_name': 'actor_Nikhil',
  'author': 'actor_Nikhil',
  'id': 1333051289358405633,
  'id_str': '1333051289358405633',
  'text': 'Karthika Pournami... Lighting 365 Lamps which I do every year üôèüèº \n@ Skandagiri Temple https://t.co/bn8DSPolSH',
  'source': 'Twitter for Android',
  'source_url': 'http://twitter.com/download/android',
  'retweet_count': 39,
  'favorite_count': 1157,
  'lang': 'en'},
 {'user_name': 'TrendsPrabhas',
  'author': 'TrendsPrabhas',
  'id': 1333049326986096640,
  'id_str': '1333049326986096640',
  'text': 'RT @Prabhas__Kohli: Old Edit üí• Loka Nayakuda FT \n\nHope you Like it üëç\n\n#Prabhas #RadheShyam https://t.co/yNzlQgj575',
  'source': 'Twitter for Android',
  'source_url': 'http://twitter.com/download/android',
  'retweet_count': 166,
  'favorite_count': 0,
  'lang': 'en'},
 {'user_name': 'CGTNOfficial',
  'author': 'CGTNOfficial',
  'id': 1333048071081644032,
  'id_str': '1333048071081644032',
  'text': 'Four tonnes of potatoes were set to go to waste when a Shanghai community initiated closed management after local c‚Ä¶ https://t.co/CoXw0eH5Vj',
  'source': 'TweetDeck',
  'source_url': 'https://about.twitter.com/products/tweetdeck',
  'retweet_count': 11,
  'favorite_count': 37,
  'lang': 'en'},
 {'user_name': 'BBCHindi',
  'author': 'BBCHindi',
  'id': 1333047074380673026,
  'id_str': '1333047074380673026',
  'text': '‡§ì‡§µ‡•à‡§∏‡•Ä ‡§≤‡§ø‡§∏‡•ç‡§ü ‡§¶‡•á‡§Ç, ‡§∞‡•ã‡§π‡§ø‡§Ç‡§ó‡•ç‡§Ø‡§æ‡§ì‡§Ç ‡§™‡§∞ ‡§Æ‡•à‡§Ç ‡§ï‡§æ‡§∞‡•ç‡§∞‡§µ‡§æ‡§à ‡§ï‡§∞‡§§‡§æ ‡§π‡•Ç‡§Å: ‡§Ö‡§Æ‡§ø‡§§ ‡§∂‡§æ‡§π\nhttps://t.co/CSNGg73lch https://t.co/esVlaWFsEk',
  'source': 'SocialFlow',
  'source_url': 'http://www.socialflow.com',
  'retweet_count': 27,
  'favorite_count': 493,
  'lang': 'hi'},
 {'user_name': 'BBCHindi',
  'author': 'BBCHindi',
  'id': 1333046531797229569,
  'id_str': '1333046531797229569',
  'text': '#FarmersProtest : ‡§∏‡§∞‡§ï‡§æ‡§∞ ‡§∏‡•á ‡§¨‡§æ‡§§ ‡§ï‡•ã ‡§∞‡§æ‡§ú‡§º‡•Ä ‡§π‡•Å‡§è ‡§ï‡§ø‡§∏‡§æ‡§® ‡§≤‡•á‡§ï‡§ø‡§® ‡§ï‡•ã‡§à ‡§∂‡§∞‡•ç‡§§ ‡§∏‡•ç‡§µ‡•Ä‡§ï‡§æ‡§∞ ‡§®‡§π‡•Ä‡§Ç https://t.co/0qbVXjv9Og',
  'source': 'SocialFlow',
  'source_url': 'http://www.socialflow.com',
  'retweet_count': 14,
  'favorite_count': 170,
  'lang': 'hi'},
 {'user_name': 'CGTNOfficial',
  'author': 'CGTNOfficial',
  'id': 1333043032128679938,
  'id_str': '1333043032128679938',
  'text': 'Dave Prowse, actor who played Darth Vader, dies at 85\nhttps://t.co/0fwD4GWPDF',
  'source': 'TweetDeck',
  'source_url': 'https://about.twitter.com/products/tweetdeck',
  'retweet_count': 7,
  'favorite_count': 32,
  'lang': 'en'},
 {'user_name': 'ajaydevgn',
  'author': 'ajaydevgn',
  'id': 1333042621338451969,
  'id_str': '1333042621338451969',
  'text': 'You can hear me and the stories of public service excellence by officers at \n#ArunBongirwarFoundation &amp;‚Ä¶ https://t.co/e6pvAGIB3u',
  'source': 'Twitter for Android',
  'source_url': 'http://twitter.com/download/android',
  'retweet_count': 113,
  'favorite_count': 931,
  'lang': 'en'},
 {'user_name': 'CGTNOfficial',
  'author': 'CGTNOfficial',
  'id': 1333041778971209729,
  'id_str': '1333041778971209729',
  'text': '#China to expand scope and scale of outbound investment schemes https://t.co/7g3v05Y9Y7',
  'source': 'Twitter Web App',
  'source_url': 'https://mobile.twitter.com',
  'retweet_count': 5,
  'favorite_count': 16,
  'lang': 'en'},
 {'user_name': 'SrBachchan',
  'author': 'SrBachchan',
  'id': 1333040836880154625,
  'id_str': '1333040836880154625',
  'text': 'T 3737 -From 26/11 to COVID-19, India fights back: Love trumps hate courage defeats fear. \nTune in tonight \nthe‚Ä¶ https://t.co/5xLsAYRsfx',
  'source': 'Twitter Web App',
  'source_url': 'https://mobile.twitter.com',
  'retweet_count': 78,
  'favorite_count': 865,
  'lang': 'en'},
 {'user_name': 'incredibleindia',
  'author': 'incredibleindia',
  'id': 1333040563826937859,
  'id_str': '1333040563826937859',
  'text': 'Perching on the banks of Lake Pichola, City Palace, Udaipur is an architectural marvel. Enjoy the panoramic  beauty‚Ä¶ https://t.co/FxUkROiF5U',
  'source': 'Hootsuite Inc.',
  'source_url': 'https://www.hootsuite.com',
  'retweet_count': 17,
  'favorite_count': 158,
  'lang': 'en'}]

In [51]:
df = pd.DataFrame(tweets_data, columns=headers)
df.head()

,lang,in_reply_to_user_id_str,quoted_status_id_str,in_reply_to_screen_name,text,in_reply_to_user_id,in_reply_to_status_id,retweet_count,source,favorite_count,id,quoted_status_id,id_str,in_reply_to_status_id_str,source_url,user_name,author
0,en,NaN,NaN,NaN,Some defend @realDonaldTrump saying he‚Äôs like ...,NaN,NaN,9,Twitter for iPhone,92,1333064441835835393,NaN,1333064441835835393,NaN,http://twitter.com/download/iphone,RGVzoomin,RGVzoomin
1,en,NaN,NaN,NaN,More countries looking to dominate in space ht...,NaN,NaN,4,Twitter Media Studio,15,1333063169942675464,NaN,1333063169942675464,NaN,https://studio.twitter.com,CGTNOfficial,CGTNOfficial
2,en,NaN,NaN,NaN,Nivar cyclone left the farming community in th...,NaN,NaN,162,Twitter for Android,380,1333059672002031617,NaN,1333059672002031617,NaN,http://twitter.com/download/android,JanaSenaParty,JanaSenaParty
3,en,NaN,NaN,NaN,75-year-old man shows off coconut-picking skil...,NaN,NaN,11,TweetDeck,74,1333058131924979714,NaN,1333058131924979714,NaN,https://about.twitter.com/products/tweetdeck,CGTNOfficial,CGTNOfficial
4,en,NaN,1333056344023212033,NaN,Wow da https://t.co/jSkMQy1G4z,NaN,NaN,102,Twitter for iPhone,1742,1333057829696020481,1.333056e+18,1333057829696020481,NaN,http://twitter.com/download/iphone,Atlee_dir,Atlee_dir

In [53]:
# df["user_name"] == df["author"]

In [60]:
df2 = extract_timeline_as_df(my_timeline)
df2.head()

,lang,in_reply_to_user_id_str,quoted_status_id_str,in_reply_to_screen_name,text,in_reply_to_user_id,in_reply_to_status_id,retweet_count,source,favorite_count,id,quoted_status_id,id_str,in_reply_to_status_id_str,source_url,user_name
0,en,NaN,NaN,NaN,Some defend @realDonaldTrump saying he‚Äôs like ...,NaN,NaN,9,Twitter for iPhone,92,1333064441835835393,NaN,1333064441835835393,NaN,http://twitter.com/download/iphone,RGVzoomin
1,en,NaN,NaN,NaN,More countries looking to dominate in space ht...,NaN,NaN,4,Twitter Media Studio,15,1333063169942675464,NaN,1333063169942675464,NaN,https://studio.twitter.com,CGTNOfficial
2,en,NaN,NaN,NaN,Nivar cyclone left the farming community in th...,NaN,NaN,162,Twitter for Android,380,1333059672002031617,NaN,1333059672002031617,NaN,http://twitter.com/download/android,JanaSenaParty
3,en,NaN,NaN,NaN,75-year-old man shows off coconut-picking skil...,NaN,NaN,11,TweetDeck,74,1333058131924979714,NaN,1333058131924979714,NaN,https://about.twitter.com/products/tweetdeck,CGTNOfficial
4,en,NaN,1333056344023212033,NaN,Wow da https://t.co/jSkMQy1G4z,NaN,NaN,102,Twitter for iPhone,1742,1333057829696020481,1.333056e+18,1333057829696020481,NaN,http://twitter.com/download/iphone,Atlee_dir

In [61]:
# Changing Kaju's timeline into dataframe
user = api.get_user(KAJAL)
user_timeline = user.timeline()

df3 = extract_timeline_as_df(user_timeline)

In [62]:
df3.head()

,lang,in_reply_to_user_id_str,quoted_status_id_str,in_reply_to_screen_name,text,in_reply_to_user_id,in_reply_to_status_id,retweet_count,source,favorite_count,id,quoted_status_id,id_str,in_reply_to_status_id_str,source_url,user_name
0,en,NaN,NaN,NaN,Some defend @realDonaldTrump saying he‚Äôs like ...,NaN,NaN,9,Twitter for iPhone,92,1333064441835835393,NaN,1333064441835835393,NaN,http://twitter.com/download/iphone,RGVzoomin
1,en,NaN,NaN,NaN,More countries looking to dominate in space ht...,NaN,NaN,4,Twitter Media Studio,15,1333063169942675464,NaN,1333063169942675464,NaN,https://studio.twitter.com,CGTNOfficial
2,en,NaN,NaN,NaN,Nivar cyclone left the farming community in th...,NaN,NaN,162,Twitter for Android,380,1333059672002031617,NaN,1333059672002031617,NaN,http://twitter.com/download/android,JanaSenaParty
3,en,NaN,NaN,NaN,75-year-old man shows off coconut-picking skil...,NaN,NaN,11,TweetDeck,74,1333058131924979714,NaN,1333058131924979714,NaN,https://about.twitter.com/products/tweetdeck,CGTNOfficial
4,en,NaN,1333056344023212033,NaN,Wow da https://t.co/jSkMQy1G4z,NaN,NaN,102,Twitter for iPhone,1742,1333057829696020481,1.333056e+18,1333057829696020481,NaN,http://twitter.com/download/iphone,Atlee_dir

### Interacting with Tweets

In [63]:
user = api.get_user(RAASHI)
user_timeline = user.timeline()

In [64]:
# gettting the latest tweet of Raashi Khanna
status_obj = api.get_status("1331919421770670083/photo/2")
status_obj.text

'Channelling the desi vibe..\n#shootdiaries  #pollachi üíö https://t.co/gjQONA3uHL'

In [65]:
# getting the LINK to latest tweet of the Raashi Kanna
user_timeline_status_obj = user_timeline[0]
status_obj_id = user_timeline_status_obj.id
status_obj_screen_name = user_timeline_status_obj.user.screen_name
status_obj_url = f"https://twitter.com/{status_obj_screen_name}/status/{status_obj_id}"

print(status_obj_url)

https://twitter.com/RaashiKhanna/status/1331935721729396736

In [76]:
## --- Auto Retweet ---

user_timeline2 = api.get_user(RAKUL).timeline()
status_obj = api.get_status("1332943321270943746")

In [82]:
# dir(status_obj)

In [86]:
user_timeline_status_obj = user_timeline2[0]
status_obj_id = user_timeline_status_obj.id
status_obj_screen_name = user_timeline_status_obj.user.screen_name
status_obj_url = f"https://twitter.com/{status_obj_screen_name}/status/{status_obj_id}"

print(status_obj_url)

https://twitter.com/Rakulpreet/status/1332943629778776064

In [88]:
# api.retweet(status_obj_id)

In [95]:
# api.create_favorite(status_obj_id)

In [93]:
# api.destroy_favorite(status_obj_id)

In [101]:
## --- Reply to a tweet ---
user_timeline3 = api.get_user(ASHLIN).timeline()
status_obj = api.get_status("1330203613310947328")

In [106]:
# dir(status_obj)

user_name, user_id = (status_obj.user.screen_name, status_obj.id)

In [107]:
my_reply = api.update_status(f"@{user_name} Eagerly waiting for this one...", user_id)

### Follow User

In [113]:
user = api.get_user(SUNNY)

In [114]:
print(user.followers_count, user.friends_count)

5863618 147

In [119]:
my_new_friends = []
user_friends = user.friends()
for friend in user_friends:
    if friend.followers_count > 300 and friend.friends_count < 300:
        # print(friend.screen_name)
        my_new_friends.append(friend.screen_name)
        relation = api.create_friendship(friend.screen_name)

In [120]:
my_new_friends

['RakeshRoshan_N',
 'avigowariker',
 'AnupamPKher',
 'Krushna_KAS',
 'OrlikGallery',
 'diljitdosanjh',
 'varunsharma90',
 'ADITYADATT',
 'karamvirlamba',
 'StarStruckbySL',
 'tussaudsdelhi',
 'OYERJALOK',
 'TheRealSalgado']

In [121]:
for username in my_new_friends:
    api.destroy_friendship(username)

### Items and Pagination

In [124]:
len(api.home_timeline(count=10))

10

In [126]:
for index,status in enumerate(tweepy.Cursor(api.home_timeline, count=50).items(50)):
    print(index, status.text)

0 Does anyone think it‚Äôs possible for any president from Lincoln onwards to Obama, the 44 th president to come up wit‚Ä¶ https://t.co/bDnvLax3Tv
1 RT @SuryaTV: ‡¥∂‡µç‡¥∞‡µá‡¥Ø ‡¥ò‡µã‡¥∑‡¥æ‡¥≤‡¥ø‡µª‡¥±‡µÜ ‡¥∂‡¥¨‡µç‡¥¶‡¥§‡µç‡¥§‡¥ø‡µΩ ‡¥ï‡µá‡¥ü‡µç‡¥ü ‡¥Æ‡¥≤‡¥Ø‡¥æ‡¥≥‡¥Ç ‡¥ó‡¥æ‡¥®‡¥ô‡µç‡¥ô‡µæ. ‡¥®‡¥ø‡¥ô‡µç‡¥ô‡µæ‡¥ï‡µç‡¥ï‡¥ø‡¥∑‡µç‡¥ü‡¥™‡µç‡¥™‡µÜ‡¥ü‡µç‡¥ü ‡¥∂‡µç‡¥∞‡µá‡¥Ø ‡¥ò‡µã‡¥∑‡¥æ‡µΩ ‡¥ó‡¥æ‡¥®‡¥Æ‡µá‡¥§‡µç?

#SuryaTV #SongsOfShreyaGhoshal #Shr‚Ä¶
2 The number of confirmed COVID-19 cases in the African continent has reached 2,150,439, the Africa Centers for Disea‚Ä¶ https://t.co/8NoKI3I1y9
3 ‡∞é‡∞≤‡±ç‡∞≤‡∞∞‡∞ø ‡∞Æ‡∞®‡∞Æ‡±Å‡∞≤‡±Å
‡∞ù‡∞≤‡±ç‡∞≤‡∞® ‡∞ö‡±á‡∞∏‡±á
‡∞ö‡∞≤‡±ç‡∞≤‡∞®‡∞ø ‡∞¶‡±á‡∞µ‡±Å‡∞®‡∞ø
‡∞Ö‡∞≤‡±ç‡∞≤‡∞∞‡∞ø‡∞≤‡±ã......  üëåüëåüëå https://t.co/cnl1f4hdKr
4 üé∂‚ù§Ô∏èü§ó‚ù§Ô∏èüé∂ https://t.co/OGFnDcPK9f
5 @vp_ashlin07 Eagerly waiting for this one...
6 RT @tweepsmap: 15 Words To Delete From Your Social Media Marketing Vocabulary
https://t.co/rnui8rcL3R
7 #BREAKING A car bomb attack in Afghanistan's central province of Ghazni kills at least 40 Afghan soldiers and wound‚Ä¶ https://t.co/B8S9jJqi9B
8 Thank u Rahul üôèüå∂üéÑ https://t.co/26nCdV38s1
9 Thank u raj üéÑüéÑüéÑ https://t.co/9j4hBGFpyd
10 ‡§ï‡§≤ ‡§¶‡•á‡§µ ‡§¶‡•Ä‡§™‡§æ‡§µ‡§≤‡•Ä ‡§ï‡•á ‡§™‡§æ‡§µ‡§® ‡§Ö‡§µ‡§∏‡§∞ ‡§™‡§∞ ‡§Ö‡§™‡§®‡•á ‡§∏‡§Ç‡§∏‡§¶‡•Ä‡§Ø ‡§ï‡•ç‡§∑‡•á‡§§‡•ç‡§∞ ‡§µ‡§æ‡§∞‡§æ‡§£‡§∏‡•Ä ‡§ï‡•á ‡§≤‡•ã‡§ó‡•ã‡§Ç ‡§ï‡•á ‡§¨‡•Ä‡§ö ‡§∞‡§π‡§®‡•á ‡§ï‡§æ ‡§∏‡•å‡§≠‡§æ‡§ó‡•ç‡§Ø ‡§™‡•ç‡§∞‡§æ‡§™‡•ç‡§§ ‡§π‡•ã‡§ó‡§æ‡•§ ‡§á‡§∏ ‡§¶‡•å‡§∞‡§æ‡§®‚Ä¶ https://t.co/5ZLeBn7Sfz
11 Namibia's nomadic Ovahimba people adopt to contemporary living amid COVID-19 pandemic
https://t.co/JKZQAS4BVC
12 Many of the retailers and restaurants in Greece that have survived the country's financial crisis which started in‚Ä¶ https://t.co/FqoNOObF4J
13 A terror convict behind the deadly 2015 attack on a Kenyan university committed suicide in his prison cell, police‚Ä¶ https://t.co/KYCBXGRcrY
14 Not the result we were hoping for but well fought boys. Onward and upward. üí™üèΩ #CFCKBFC @ChennaiyinFC
15 The number of COVID-19 infections in Kenya rose to 83,316 on Sunday as the health ministry reported 711 new cases c‚Ä¶ https://t.co/0HfGo7y69F
16 Romain Grosjean escaped with minor burns after his Haas burst into flames on the first lap of the Bahrain Grand Pri‚Ä¶ https://t.co/cYD7eMUhly
17 #Prabhas from #RadheShyam sets https://t.co/8YR31fwOl8
18 Call Of The Wild VFX Breakdown https://t.co/ZtVOMxhPpk

MPC https://t.co/ZeNcA5Ec7Z https://t.co/UPocdi5ifr
19 Sariel Touhou https://t.co/1U9CHVyhWA

Gian S https://t.co/kGIp7jPpD4 https://t.co/Sp6EorwOif
20 RT @Musugu_: Battle Royale feat #Baahubali franchise
Give your reviews after watching ü§ó
don't miss last 30 secs..Hope you Like itüíì
#Prabha‚Ä¶
21 ‡§ï‡§∂‡•ç‡§Æ‡•Ä‡§∞ ‡§∏‡§Æ‡§∏‡•ç‡§Ø‡§æ ‡§ï‡§æ ‡§π‡§≤ ‡§ö‡•Å‡§®‡§æ‡§µ‡•ã‡§Ç ‡§∏‡•á ‡§®‡§π‡•Ä‡§Ç ‡§®‡§ø‡§ï‡§≤‡•á‡§ó‡§æ: ‡§Æ‡§π‡§¨‡•Ç‡§¨‡§æ ‡§Æ‡•Å‡§´‡§º‡•ç‡§§‡•Ä
‡§Ü‡§ú ‡§ï‡•Ä ‡§¨‡§°‡§º‡•Ä ‡§ñ‡§º‡§¨‡§∞‡•á‡§Ç: https://t.co/v2Z4aZneTF https://t.co/1hHY8qEnic
22 ‡§ï‡•ã‡§∞‡•ã‡§®‡§æ ‡§µ‡§æ‡§Ø‡§∞‡§∏ ‡§∏‡•á ‡§¨‡§ö‡§æ‡§®‡•á ‡§µ‡§æ‡§≤‡•Ä ‡§µ‡•à‡§ï‡•ç‡§∏‡•Ä‡§® ‡§ï‡•ç‡§Ø‡§æ ‡§¶‡•Å‡§®‡§ø‡§Ø‡§æ ‡§ï‡•Ä ‡§Ö‡§∞‡•ç‡§•‡§µ‡•ç‡§Ø‡§µ‡§∏‡•ç‡§•‡§æ ‡§ï‡•ã ‡§≠‡•Ä ‡§¨‡§ö‡§æ ‡§≤‡•á‡§ó‡•Ä? https://t.co/uv2aN0LgWB
23 Some defend @realDonaldTrump saying he‚Äôs like a kid ..A 74 year old man with a kids mind is not called a kid..He‚Äôs called a RETARD
24 More countries looking to dominate in space https://t.co/sEvtILLe8z
25 Nivar cyclone left the farming community in the lurch! https://t.co/PSUY8DmiYy
26 75-year-old man shows off coconut-picking skills

Fu Zehe, who once served in the military and now lives in the tro‚Ä¶ https://t.co/mM9tokAoEE
27 Wow da https://t.co/jSkMQy1G4z
28 ‡∞§‡±Å‡∞™‡∞æ‡∞®‡±Å ‡∞™‡±ç‡∞∞‡∞≠‡∞æ‡∞µ‡∞ø‡∞§ ‡∞™‡±ç‡∞∞‡∞æ‡∞Ç‡∞§‡∞æ‡∞≤‡±ç‡∞≤‡±ã  ‡∞∂‡±ç‡∞∞‡±Ä @PawanKalyan ‡∞ó‡∞æ‡∞∞‡±Å ‡∞°‡∞ø‡∞∏‡±Ü‡∞Ç‡∞¨‡∞∞‡±ç 2‡∞µ ‡∞§‡±á‡∞¶‡±Ä‡∞®  ‡∞™‡∞∞‡±ç‡∞Ø‡∞ü‡∞®. https://t.co/PEHjrjNC6v
29 '‡§¶‡§ø‡§≤‡•ç‡§≤‡•Ä ‡§ï‡•ç‡§∞‡§æ‡§á‡§Æ' ‡§ï‡•á ‡§è‡§Æ‡•Ä ‡§Ö‡§µ‡•â‡§∞‡•ç‡§° ‡§ú‡•Ä‡§§‡§®‡•á ‡§∏‡•á ‡§≠‡§æ‡§∞‡§§ ‡§ï‡•á ‡§≤‡§ø‡§è ‡§ï‡•ç‡§Ø‡§æ ‡§¨‡§¶‡§≤ ‡§ú‡§æ‡§è‡§ó‡§æ https://t.co/NJ2uC7tm4v
30 Poverty alleviation official: Contributing to poverty alleviation work is my duty #ZeroPoverty2020 https://t.co/ttdRx9UbDM
31 https://t.co/CJMErVedon
32 #FarmersProtest : ‡§∏‡§∞‡§ï‡§æ‡§∞ ‡§∏‡•á ‡§¨‡§æ‡§§ ‡§ï‡•ã ‡§∞‡§æ‡§ú‡§º‡•Ä ‡§π‡•Å‡§è ‡§ï‡§ø‡§∏‡§æ‡§® ‡§≤‡•á‡§ï‡§ø‡§® ‡§ï‡•ã‡§à ‡§∂‡§∞‡•ç‡§§ ‡§∏‡•ç‡§µ‡•Ä‡§ï‡§æ‡§∞ ‡§®‡§π‡•Ä‡§Ç https://t.co/iz4q20bEIH
33 Karthika Pournami... Lighting 365 Lamps which I do every year üôèüèº
@ Skandagiri Temple https://t.co/bn8DSPolSH
34 RT @Prabhas__Kohli: Old Edit üí• Loka Nayakuda FT

Hope you Like it üëç

#Prabhas #RadheShyam https://t.co/yNzlQgj575
35 Four tonnes of potatoes were set to go to waste when a Shanghai community initiated closed management after local c‚Ä¶ https://t.co/CoXw0eH5Vj
36 ‡§ì‡§µ‡•à‡§∏‡•Ä ‡§≤‡§ø‡§∏‡•ç‡§ü ‡§¶‡•á‡§Ç, ‡§∞‡•ã‡§π‡§ø‡§Ç‡§ó‡•ç‡§Ø‡§æ‡§ì‡§Ç ‡§™‡§∞ ‡§Æ‡•à‡§Ç ‡§ï‡§æ‡§∞‡•ç‡§∞‡§µ‡§æ‡§à ‡§ï‡§∞‡§§‡§æ ‡§π‡•Ç‡§Å: ‡§Ö‡§Æ‡§ø‡§§ ‡§∂‡§æ‡§π
https://t.co/CSNGg73lch https://t.co/esVlaWFsEk
37 #FarmersProtest : ‡§∏‡§∞‡§ï‡§æ‡§∞ ‡§∏‡•á ‡§¨‡§æ‡§§ ‡§ï‡•ã ‡§∞‡§æ‡§ú‡§º‡•Ä ‡§π‡•Å‡§è ‡§ï‡§ø‡§∏‡§æ‡§® ‡§≤‡•á‡§ï‡§ø‡§® ‡§ï‡•ã‡§à ‡§∂‡§∞‡•ç‡§§ ‡§∏‡•ç‡§µ‡•Ä‡§ï‡§æ‡§∞ ‡§®‡§π‡•Ä‡§Ç https://t.co/0qbVXjv9Og
38 Dave Prowse, actor who played Darth Vader, dies at 85
https://t.co/0fwD4GWPDF
39 You can hear me and the stories of public service excellence by officers at
#ArunBongirwarFoundation &amp;‚Ä¶ https://t.co/e6pvAGIB3u
40 #China to expand scope and scale of outbound investment schemes https://t.co/7g3v05Y9Y7
41 T 3737 -From 26/11 to COVID-19, India fights back: Love trumps hate courage defeats fear.
Tune in tonight
the‚Ä¶ https://t.co/5xLsAYRsfx
42 Perching on the banks of Lake Pichola, City Palace, Udaipur is an architectural marvel. Enjoy the panoramic  beauty‚Ä¶ https://t.co/FxUkROiF5U
43 ‡§ï‡§ø‡§∏‡§æ‡§®‡•ã‡§Ç ‡§ï‡•á ‡§µ‡§ø‡§∞‡•ã‡§ß ‡§™‡•ç‡§∞‡§¶‡§∞‡•ç‡§∂‡§® ‡§Æ‡•á‡§Ç ‡§è‡§ï‡•ç‡§ü‡§∞ ‡§¶‡•Ä‡§™ ‡§∏‡§ø‡§¶‡•ç‡§ß‡•Å ‡§ï‡•ç‡§Ø‡•ã‡§Ç ‡§∂‡§æ‡§Æ‡§ø‡§≤ ‡§π‡•Å‡§è?

‡§µ‡•Ä‡§°‡§ø‡§Ø‡•ã‡§É ‡§¶‡§ø‡§≤‡§®‡§µ‡§æ‡§ú‡§º ‡§™‡§æ‡§∂‡§æ ‡§î‡§∞ ‡§¶‡•Ä‡§™‡§ï ‡§ú‡§∏‡§∞‡•ã‡§ü‡§ø‡§Ø‡§æ https://t.co/fdv7lZPfCG
44 üôèüèº thank u
#1YrForArjunsuravaram https://t.co/xicXfM6Dz2
45 No fresh bamboo? Giant pandas return to China from Canada https://t.co/mx8qsyo2ie
46 ‡§¶‡§ø‡§≤‡•ç‡§≤‡•Ä ‡§ï‡•Ä ‡§¨‡•â‡§∞‡•ç‡§°‡§∞ ‡§™‡§∞ ‡§°‡§ü‡•á ‡§™‡•ç‡§∞‡§¶‡§∞‡•ç‡§∂‡§®‡§ï‡§æ‡§∞‡•Ä ‡§ï‡§ø‡§∏‡§æ‡§®‡•ã‡§Ç ‡§®‡•á ‡§∏‡§∞‡§ï‡§æ‡§∞ ‡§ï‡•Ä ‡§™‡•á‡§∂‡§ï‡§∂ ‡§™‡§∞ ‡§ï‡•ç‡§Ø‡§æ ‡§´‡§º‡•à‡§∏‡§≤‡§æ ‡§ï‡§ø‡§Ø‡§æ? ‡§¶‡•á‡§ñ‡§ø‡§è ‡§ï‡§ø‡§∏‡§æ‡§® ‡§®‡•á‡§§‡§æ ‡§∏‡•Å‡§∞‡§ú‡•Ä‡§§ ‡§∏‡§ø‡§Ç‡§π ‡§ï‡•á‚Ä¶ https://t.co/yX3nq74vND
47 I can‚Äôt wait to watch this!! üòÇüòÇ ( and then discuss this later ‚Äúindividually‚Äù )

@AnupamPKher @satishkaushik2 https://t.co/uzQcQVQPjL
48 China's Chang'e-5 lunar probe completes final brakes, prepares to land
https://t.co/NbDlj8Q5sp
49 This Day.. Last Year.. Arjun Suravaram Released in Theaters to Huge Crowds... Such a thrilling moment... Thank u al‚Ä¶ https://t.co/mdgFzRT1zX

In [ ]:
## --- getting the status of kaju's timeline ---
for index, status in enumerate(tweepy.Cursor(api.user_timeline, screen_name=KAJAL, count=50).items(50)):
    print(index, status.text)

In [132]:
# Getting her friends list using cursor
kaju_friends = []
for index, id in enumerate(tweepy.Cursor(api.friends_ids, screen_name=KAJAL).items(30)):
#     print(index, id)
    kaju_friends.append(id)

In [133]:
api.get_user(kaju_friends[0]).screen_name

'kajalgifs'

### Search a status / tweets

In [137]:
query = "#HBDRaashiKhanna - Hindi"

for index , status in enumerate(tweepy.Cursor(api.search, q=query).items(50)):
    print(index, status.text, status.author.screen_name)

0 RT @TrendsRaashi: #RaashiKhanna  made her Film Industry Debut with Hindi Film #MadrasCafe which released on August 23rd, 2013.
 It starred‚Ä¶ raj_keelu3
1 RT @TrendsRaashi: #RaashiKhanna  made her Film Industry Debut with Hindi Film #MadrasCafe which released on August 23rd, 2013.
 It starred‚Ä¶ RamGanna
2 RT @TrendsRaashi: #RaashiKhanna  made her Film Industry Debut with Hindi Film #MadrasCafe which released on August 23rd, 2013.
 It starred‚Ä¶ SantoshYanamad5
3 RT @ui000009: #RaashiKhanna  made her Film Industry Debut with Hindi Film #MadrasCafe which released on August 23rd, 2013.
 It starred @The‚Ä¶ SantoshYanamad5
4 RT @EditsRaashi: #RaashiKhanna  made her Film Industry Debut with Hindi Film #MadrasCafe which released on August 23rd, 2013.
 It starred @‚Ä¶ SantoshYanamad5
5 RT @TrendsRaashi: #RaashiKhanna  made her Film Industry Debut with Hindi Film #MadrasCafe which released on August 23rd, 2013.
 It starred‚Ä¶ Teamnidhhiww
6 RT @TrendsRaashi: #RaashiKhanna  made her Film Industry Debut with Hindi Film #MadrasCafe which released on August 23rd, 2013.
 It starred‚Ä¶ VarunPK_2RK
7 RT @RaashiKhannaFC: Happy Birthday to Our Angel @RaashiKhanna Darling. Pride of Us and Telugu Film Industry's Dedicated Angel üí•

#HBDRaashi‚Ä¶ SantoshYanamad5
8 RT @TrendsRaashi: #RaashiKhanna  made her Film Industry Debut with Hindi Film #MadrasCafe which released on August 23rd, 2013.
 It starred‚Ä¶ LickyCharanism
9 RT @TrendsRaashi: #RaashiKhanna  made her Film Industry Debut with Hindi Film #MadrasCafe which released on August 23rd, 2013.
 It starred‚Ä¶ srikant83725567
10 RT @TrendsRaashi: #RaashiKhanna  made her Film Industry Debut with Hindi Film #MadrasCafe which released on August 23rd, 2013.
 It starred‚Ä¶ KairaDie
11 RT @ui000009: #RaashiKhanna  made her Film Industry Debut with Hindi Film #MadrasCafe which released on August 23rd, 2013.
 It starred @The‚Ä¶ NinetyML
12 RT @ui000009: #RaashiKhanna  made her Film Industry Debut with Hindi Film #MadrasCafe which released on August 23rd, 2013.
 It starred @The‚Ä¶ upv09
13 Happy Birthday to Our Angel @RaashiKhanna Darling. Pride of Us and Telugu Film Industry's Dedicated Angel üí•‚Ä¶ https://t.co/p05SLd0fbE RaashiKhannaFC
14 RT @TrendsRaashi: #RaashiKhanna  made her Film Industry Debut with Hindi Film #MadrasCafe which released on August 23rd, 2013.
 It starred‚Ä¶ gowthamvjfan
15 RT @TrendsRaashi: #RaashiKhanna  made her Film Industry Debut with Hindi Film #MadrasCafe which released on August 23rd, 2013.
 It starred‚Ä¶ alwaysbaji
16 RT @EditsRaashi: #RaashiKhanna  made her Film Industry Debut with Hindi Film #MadrasCafe which released on August 23rd, 2013.
 It starred @‚Ä¶ jagadeesh2658
17 RT @TrendsRaashi: #RaashiKhanna  made her Film Industry Debut with Hindi Film #MadrasCafe which released on August 23rd, 2013.
 It starred‚Ä¶ Lucky50123322
18 RT @EditsRaashi: #RaashiKhanna  made her Film Industry Debut with Hindi Film #MadrasCafe which released on August 23rd, 2013.
 It starred @‚Ä¶ Lucky50123322
19 RT @EditsRaashi: #RaashiKhanna  made her Film Industry Debut with Hindi Film #MadrasCafe which released on August 23rd, 2013.
 It starred @‚Ä¶ EditsRaashi
20 RT @TrendsRaashi: #RaashiKhanna  made her Film Industry Debut with Hindi Film #MadrasCafe which released on August 23rd, 2013.
 It starred‚Ä¶ AnuragS02213644
21 RT @TrendsRaashi: #RaashiKhanna  made her Film Industry Debut with Hindi Film #MadrasCafe which released on August 23rd, 2013.
 It starred‚Ä¶ EditsRaashi
22 RT @TrendsRaashi: #RaashiKhanna  made her Film Industry Debut with Hindi Film #MadrasCafe which released on August 23rd, 2013.
 It starred‚Ä¶ Raashiramgalaxy
23 RT @TrendsRaashi: #RaashiKhanna  made her Film Industry Debut with Hindi Film #MadrasCafe which released on August 23rd, 2013.
 It starred‚Ä¶ 71gudala
24 #RaashiKhanna  made her Film Industry Debut with Hindi Film #MadrasCafe which released on August 23rd, 2013.
 It st‚Ä¶ https://t.co/CmIoD4QYyX EditsRaashi
25 #RaashiKhanna  made her Film Industry Debut with Hindi Film #MadrasCafe which released on August 23rd, 2013.
 It st‚Ä¶ https://t.co/ebms0EnlVK ui000009
26 RT @TrendsRaashi: #RaashiKhanna  made her Film Industry Debut with Hindi Film #MadrasCafe which released on August 23rd, 2013.
 It starred‚Ä¶ uk_4_you
27 RT @TrendsRaashi: #RaashiKhanna  made her Film Industry Debut with Hindi Film #MadrasCafe which released on August 23rd, 2013.
 It starred‚Ä¶ ui000009
28 RT @TrendsRaashi: #RaashiKhanna  made her Film Industry Debut with Hindi Film #MadrasCafe which released on August 23rd, 2013.
 It starred‚Ä¶ RaashiTeam
29 RT @TrendsRaashi: #RaashiKhanna  made her Film Industry Debut with Hindi Film #MadrasCafe which released on August 23rd, 2013.
 It starred‚Ä¶ actoranilDHFM
30 RT @TrendsRaashi: #RaashiKhanna  made her Film Industry Debut with Hindi Film #MadrasCafe which released on August 23rd, 2013.
 It starred‚Ä¶ RakeShPrabhas20
31 #RaashiKhanna  made her Film Industry Debut with Hindi Film #MadrasCafe which released on August 23rd, 2013.
 It st‚Ä¶ https://t.co/ewipywRDR2 TrendsRaashi

In [140]:
query = RAASHI

search_res = set()
for index , user in enumerate(tweepy.Cursor(api.search_users, q=query).items(50)):
#     print(index, user.screen_name)
    search_res.add(user.screen_name)
    
print(list(search_res))

['Raashikhanna10', 'RaashiFan', 'saikris23557294', 'LubRaashikhanna', 'balubanvath004', 'NaRaashikhanna', 'RaashiIsmyLove', 'raashikhanna111', 'Raashikhanna7', 'John_H__Watson', 'raashikhanna978', 'RaashiKhanna_FC', 'RaashikhannaL', 'iamShaaZy', 'kapilianprash99', 'RaashiKhanna11', 'Raashikhanna2', 'Raashikhanna23', 'RaashiKhanna', 'JanpashaTweetz']

In [144]:
query = RAKUL

for index , page in enumerate(tweepy.Cursor(api.search_users, q=query, per_page=10).pages(5)):
#     print(index, "page")
    process_page(page)

0 Rakulpreet
1 Rakulpreet58
2 iam_RakulPreet
3 RakulpreetSash
4 rakulpreet_sash
5 Poojitharakulp
6 RakulPUniverse
7 TeamRakul10
8 RakulPreetTeam
9 Rakulians
10 RakulLover
11 RakulPreetFS
12 marjaavaan
13 rakuldieheart
14 allusumanth22
15 Rakul_Addicts
16 Rakul_Trends
17 rakulfan_anu
18 rakulpreet_fans
19 TeamRakulpreet
0 Rakulpreet
1 Rakulpreet58
2 iam_RakulPreet
3 RakulpreetSash
4 rakulpreet_sash
5 Poojitharakulp
6 RakulPUniverse
7 TeamRakul10
8 RakulPreetTeam
9 Rakulians
10 RakulLover
11 RakulPreetFS
12 marjaavaan
13 rakuldieheart
14 allusumanth22
15 Rakul_Addicts
16 Rakul_Trends
17 rakulfan_anu
18 rakulpreet_fans
19 TeamRakulpreet
0 RakulPreetKaur
1 Rakulpreet109
2 fc_rakul
3 rakulpreet68
4 poojitha_pv
5 rakulpreetily
6 RakulpreetM
7 rakulpreet810
8 RakulpreetTFC
9 Team_Rakulpreet
10 Rakulpreetfan4
11 Rakulpreet95
12 Rakulpr41260120
13 _Rakulpreet_
14 TulasiramMetrhi
15 RAKULPR95961788
16 RakulPr30424110
17 SpyderTheMovie
18 RakulpreetSin20
19 rakulpreet8
0 LocallClub
1 rakul_liker
2 KamalakarRakul1
3 rakulpreetfc9
4 RakulPr85099167
5 RakulpreetFan2
6 PoojithaPv
7 TrendsRakul_
8 rakulpreet21
9 PrithviMichael
10 rakulpreets
11 RakulpreetCHD
12 rakulpreet14
13 PvPoojitha
14 LoveRakulpreet
15 Rakulpreetfan01
16 Rakulpreet6
17 rakulpreet_fan
18 rakulpreet16
19 Rakulpreet_ffc
0 fan_rakulpreet
1 Rakulpreet__7
2 IndianDeshiGirl
3 ShailajaManeti
4 Rakulpr98737350
5 Rakulpreetfan02
6 Rakulpr84659106
7 Rakulpreet__FC
8 RakulFC
9 poojitha_rakulp
10 ShekharPoddar7
11 Rakulpreet17
12 RakulpreetR
13 tejaravinarsin1
14 RakulFanss
15 Rakulpr67546121
16 RakulpreetFp
17 rakulpreet2
18 SinghRakulpreet
19 _rakulism
0 RakulpreetOffl
1 rakulpreet10
2 Rakulpreet13
3 Rakulpreet147
4 Rakulpr16830216
5 rakulpr34171296
6 rakulpr40613018
7 Rakulpr36370361
8 RakulpreetC
9 rakulpreet_offl
10 Rakulpreet_
11 Rakulpreet4
12 rakulpreet1212
13 Rakulpreet11
14 RakulpreetJ
15 RakulpreetSinfh
16 Rakulpreet78
17 rakulpreetsexy
18 Rakulpreet20
19 rakulpreet222